/* BODY */
.user-auth {
  position: relative;
}
.user-auth::before {
  content: attr(data-fa-icon);
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 300px;
  opacity: 0.1;
  z-index: -1;
}

/* BUTTON */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--warning);
}
.btn:hover,
.btn-bs:hover {
  color: #fff;
  background-color: var(--warning);
}

/* CARD */
.card .card-content {
  max-width: 200px;
  max-height: 200px;
}
.card .card-content p,
.card .card-content i,
.card .card-content h5,
.card .card-content div {
  color: #fff !important;
}
.bg-card-img-hover:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Bootstrap */

/* All screen */
@media only screen {
  .user-manage .manage-meal {
    display: grid;
    grid-gap: 8px;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

.user-manage .manage-meal {
  grid-template-columns: repeat(1, auto);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .user-manage .manage-meal {
    grid-template-columns: repeat(2, auto);
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user-manage .manage-meal {
    grid-template-columns: repeat(3, auto);
    grid-gap: 11px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .user-manage .manage-meal {
    grid-template-columns: repeat(5, auto);
    grid-gap: 13px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .user-manage .manage-meal {
    grid-template-columns: repeat(7, auto);
    grid-gap: 13px;
  }
}

/* XXLarge screens ----------- */
@media only screen and(min-width: 1824px) {
  .user-manage .manage-meal {
    grid-template-columns: repeat(12, auto);
    grid-gap: 15px;
  }
}
