.btn-group-meal {
    position: absolute;
    top: 20%;
    left: 70%;
}

@media (max-width: 576px) {
    .btn-group-meal {
        position: inherit;
        display: inherit;
        padding-bottom: 1rem;
    }
}

.btn-group-meal a i {
    font-size: 1.7rem;
}