<table class="table">
	<tbody>
		<tr>
			<th>Id</th>
			<td>{{ command.id }}</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>{{ command.name }}</td>
		</tr>
		<tr>
			<th>CommandAt</th>
			<td>{{ command.commandAt ? command.commandAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>Items</th>
			<td>
				{{command.meals|map(meal => meal.name)|join(', ', ' et ')}}
			</td>
		</tr>
	</tbody>
</table>
