{% extends "user/auth/base.html.twig" %}

{% block title %}
	{{"Administrer"|trans({}, 'nav')}}
{% endblock %}

{% block user %}
	<div>{{ react_component('Manage', {'props':props}) }}</div>
{% endblock %}
