:root {
  --appcolor1: #dcdc0a;
  --appcolor2: #c1c127;
}

/* USER */
.colorated {
  color: var(--appcolor1) !important;
}

/* FORM */
label.required::after {
  content: " *";
  color: var(--danger);
}
.custom-file {
  width: 100%;
}
.custom-file,
.custom-file-input,
.custom-file-label {
  cursor: pointer;
}
.custom-form-am {
  display: none;
}
.custom-form-am + label:hover {
  color: var(--appcolor1);
}
.custom-label-bfi {
  display: none;
}

/* MEAL INDEX */
.theme-accent-color {
  color: var(--appcolor1);
}
.meal-hover {
  transition: 0.3s;
}
.meal-hover:hover {
  cursor: pointer;
}
.meal-hover:hover::after {
  opacity: 1;
  visibility: visible;
  transform: skewX(-5deg);
}
.meal-card {
  position: relative;
}
.meal-hover::after {
  content: "";
  width: 10%;
  height: 1em;
  position: absolute;
  bottom: 10%;
  left: 90%;
  background: var(--appcolor1);
  opacity: 0;
  visibility: hidden;
  transform: rotate(-45deg);
  transition: 0.2s;
}
.page-item.active .page-link {
  border-color: var(--appcolor2);
  background-color: var(--appcolor2);
}
.page-link {
  color: var(--appcolor2);
}

/* SIZE */
.size39 {
  width: 75%;
  height: 50px;
}
.size40 {
  width: 160px;
  height: 160px;
}
@media only screen and(min-width: 576px) {
  .size39 {
    width: 60%;
  }
}
@media only screen and(min-width: 768px) {
  .size39 {
    width: 45%;
  }
}
/* BTN */
.btn-bs {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* RECAPTCHA */
.g-recaptcha {
  visibility: inherit;
}
.grecaptcha-badge {
  bottom: 2em !important;
}

/* DROPDOWN */
.dropdown-toggle-after::after {
  display: none !important;
}

/* MESSAGE FLASH */
#flash {
  position: fixed;
  bottom: 15px;
  left: 15px;
  max-width: 300px;
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #flash {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* INLINE ELEMENT */
.va-bottom {
  vertical-align: bottom;
}

/* MODAL */
.modal form {
  margin-bottom: 1em;
}
.modal-open {
  overflow-y: hidden;
}
.modal-title {
  color: var(--dark) !important;
}

/* LI STYLE */
.rte ul,
.rte li {
  list-style: disc;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  margin-left: 2em;
}
.border-app {
  border-color: var(--appcolor1) !important;
}
.badge-app {
  color: white;
  background-color: var(--appcolor1);
}
span.cart-items {
  position: absolute;
  top: 1rem;
  right: 0.7rem;
}
a.cart-items {
  position: relative;
}
.text-app {
  color: var(--appcolor1);
}

/* Login */
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--appcolor1);
  background-color: var(--appcolor1);
}
