{% extends "base.html.twig" %}

{% set NAME = "Rao Nagos" %}
{% set EDITOR = "EDITEUR" %}
{% set INFO = "N° TAHITI D75938" %}
{% set SITENAME = "Arii Food" %}
{% set SITEURL = "www.ariifood.pf" %}
{% set SITEDOMAIN = "ariifood.pf" %}
{% set PROVIDER = "TRAITEUR" %}
{% set DELIVER = "COURSIER" %}
{% set CLIENT = "CLIENT" %}
{% set ADDRESS = "Paea, 98711 PK 21,900 VALLÉE OROFERO - BP 330071" %}

{% block title %}
	{{ "Conditions Générales | CGU/CGV" }}
{% endblock %}

{% block body %}
	{# https://www.ice-dev.com/comment-faire/comment-rediger-ses-cgu-cgv-et-mentions-legales/ #}
	<div class="credit p-t-135 p-b-95">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-8 txt10">
				<div id="cgu" class="cgu">
					<h3 class="text-center"># Conditions Générales d’Utilisation</h3>
					{% include "app/credit/cgu.html.twig" %}
				</div>
				<div id="cgv" class="cgv">
					<h3 class="text-center"># Conditions Générales de Vente</h3>
					{% include "app/credit/cgv.html.twig" %}
				</div>
				<div id="ml" class="ml">
					<h3 class="text-center"># Mentions Légales</h3>
					{% include "app/credit/ml.html.twig" %}
				</div>
				<div id="end" class="end">
					<h3 class="text-center">#</h3>
					<pre style="white-space: pre-line;"></pre>
				</div>
			</div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}
