{% set title_modal = "Supprimer l'assiette " ~ meal.id %}
<form name="meal-delete" method="post" data-text-title-modal="{{title_modal}}" class="d-inline" action="{{ path('meal_delete', {'id': meal.id}) }}">
	<button class="btn-bs btn-warning" title="{{title_modal}}">
		<i class="fas fa-trash" aria-hidden="true"></i>
	</button>
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meal.id) }}">
	<input type="hidden" name="_method" value="DELETE">
</form>
