<section>
	<div class="btn-group" role="group" aria-label="Basic example">
		<button id="modal-btn-new" type="button" class="btn" data-toggle="modal" data-target="#mealModal">
			{{"Ajouter une assiete"|trans({}, 'nav')}}
			<i class="fas fa-plus-circle ml-2"></i>
		</button>		
	</div>
	{% set meals = user.provider.meals %}
	<div class="manage-meal mt-2">
		{% for meal in meals %}
			{% include "ajax/meal/new.html.twig" %}
		{% else %}
			<div class="manage-meal-noone mt-2">
				<h3>Pas d'assiete: ajoutez-en un.</h3>
			</div>
		{% endfor %}
	</div>


</section>
