<section>
	<div class="btn-group" role="group" aria-label="Basic example">
		<button type="button" class="btn" data-toggle="modal" data-target="#menuModal">
			{{"Ajouter"|trans({}, 'nav')}}
			<i class="fas fa-plus-circle ml-2"></i>
		</button>
	</div>
	{% set menus = user.provider.menus %}
	<div id="manage-menu" class="manage-menu">
		{% for menu in menus %}
			{% include "ajax/menu/new.html.twig" %}
		{% else %}
			<div>
				<h1 class="h5">Pas de menu : ajoutez-en un.</h1>
			</div>
		{% endfor %}
	</div>

	
</section>
