<link rel="stylesheet" href="{{ asset('assets/vendor/custom/css/cookie_consent.css') }}">

<div class="ch-cookie-consent">
	<p>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation des cookies pour analyser le fonctionnement et l'efficacité du site.</p>
	<button type="button" class="btn btn-accept ch-cookie-consent__btn">Ok</button>
	<div class="form">
		{{ form_start(form, {'attr': {'class': 'ch-cookie-consent__form'}}) }}
		{{ form_end(form) }}
	</div>
</div>

<script src="{{ asset('assets/vendor/custom/js/cookie_consent.js') }}"></script>
