/* BODY */
.middle {
  min-height: max-content;
}
.body-user {
  position: relative;
}
.body-user:before {
  content: "\f2e7";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 300px;
  opacity: 0.1;
  z-index: -1;
}

/* BUTTON */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--warning);
}

/* CARD */
.card p,
.card h5,
.card a,
.card button {
  color: black;
  background-color: rgba(255, 193, 7, 0.15);
}
.card:hover::before {
  opacity: 1;
  visibility: visible;
}
.card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: var(--warning);
  opacity: 0;
  visibility: hidden;
  transform: skew(2deg, 2deg);
  transition: 0.2s;
  z-index: -1;
}
.card:hover::after {
  left: initial;
  background: rgba(255, 193, 7, 0.15);
  right: 0;
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 123, 255, 0.05);
  pointer-events: none;
}
.card {
  max-width: 18rem;
  max-height: 30rem;
}

/* Bootstrap */


/* All screen */
@media only screen {
  .user-manage .manage-card {
    display: grid;
    grid-gap: 8px;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

.user-manage .manage-card {
  grid-template-columns: repeat(1, auto);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .user-manage .manage-card {
    grid-template-columns: repeat(2, auto);
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user-manage .manage-card {
    grid-template-columns: repeat(3, auto);
    grid-gap: 11px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .user-manage .manage-card {
    grid-template-columns: repeat(5, auto);
    grid-gap: 13px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .user-manage .manage-card {
    grid-template-columns: repeat(7, auto);
    grid-gap: 13px;
  }
}

/* XXLarge screens ----------- */
@media only screen and(min-width: 1824px) {
  /* Styles */
  .user-manage .manage-card {
    grid-template-columns: repeat(12, auto);
    grid-gap: 15px;
  }
}
