{% extends "base.html.twig" %}

{% set NAME = "Rao Nagos" %}
{% set EDITOR = "EDITEUR" %}
{% set INFO = "N° TAHITI D75938" %}
{% set SITENAME = "Arii Food" %}
{% set SITEURL = "www.ariifood.pf" %}
{% set SITEDOMAIN = "ariifood.pf" %}
{% set PROVIDER = "TRAITEUR" %}
{% set DELIVER = "COURSIER" %}
{% set CLIENT = "CLIENT" %}
{% set ADDRESS = "Paea, 98711 PK 21,900 VALLÉE OROFERO - BP 330071" %}

{% block title %}
	{{ "RGPD | Le règlement général de protection des données" }}
{% endblock %}

{% block body %}
	<div class="credit p-t-135 p-b-95">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-8 txt10">
				<h1>RPGD</h1>
			</div>
			<div class="col-md"></div>
		</div>
	</div>
{% endblock %}
