
@media (max-width: 768px) {
  .d-md-ruby {
    display: table;
  }

  .d-md-ruby a {
    display: table-cell;
  }
}

.d-btn-fixed {
  position: fixed !important;
  left: 1rem;
  bottom: 1rem;
  z-index: 1000;
}

.btn:focus {
  box-shadow: none;
}

table.table-setting tbody th {
  width: 35%;
}
