{% extends "base.html.twig" %}


{% block body %}
	<div class="d-flex flex-column justify-content-center align-items-center p-t-140 p-b-100">
		<i class="far fa-frown fa-10x"></i>
		<p class="text-dark" style="font-size: 7em">404</p>
		<p class="text-dark">
			<small>Cette page n'existe pas ou  une erreur est survenue.</small>
		</p>
	</div>
{% endblock %}
