{% extends 'base.html.twig' %}

{% block title %}
	{{"Commencer"|trans({}, 'connect')}}
{% endblock %}

{% block body %}

	<div class="user-new p-t-140 p-b-90">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md-8">
				{{ include('user/_form.html.twig') }}
			</div>
			<div class="col-md"></div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/custom/js/user/user.js')}}"></script>
{% endblock %}
