<div class="collapse navbar-collapse" id="main-navigation">
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="{{ path('app_home') }}" class="page-scroll">{{ "Accueil" | trans({}, 'nav') }}</a>
		</li>
		<li>
			<a href="{{ path('meal_new') }}" class="page-scroll">{{ "Les plats" | trans({}, 'nav') }}</a>
		</li>
		<li>
			<a href="#the-menu" class="page-scroll">Our Menu</a>
		</li>
		<li>
			<a href="#about" class="page-scroll">Book a Table</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Extras
				<span class="pe-7s-angle-down"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="404.html">404</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#search">
				<i class="fa fa-search"></i>
			</a>
		</li>
	</ul>

</div>
