{% extends "base.html.twig" %}

{% block body %}
	<div class="mailer-index p-t-130 p-b-95">
		<div class="mailer-test">
			<div class="row">
				<div class="col-md"></div>
				<div class="col-md-6">
					{{form_start(form)}}
					{{form_rest(form)}}
					{{form_end(form)}}
				</div>
				<div class="col-md"></div>
			</div>
		</div>
	</div>
{% endblock %}
