{% extends "mailer/base.html.twig" %}

{% block body %}
	<row class="welcome">
		<columns>
			<spacer size="35"></spacer>
			<h1>
				<center>
					Inscription
				</center>
			</h1>
			<spacer size="10"></spacer>
		</columns>
	</row>
	<spacer size="30"></spacer>
	<row>
		<columns>
			<p>
				Bienvenue sur
				<strong>{{ nameSite }}
				</strong>
				<em>{{ user.name }}</em>, veuillez confirmez votre email
				<span class="email">{{ email.to[0].address }}</span>
				en cliquant sur le lien ci-dessous :
			</p>
		</columns>
	</row>
	<row>
		<columns>
			<center>
				<button href="{{ url('mailer_confirmation', {token: user.confirmationEmail, id: user.id}) }}">Confimer mon adresse</button>
			</center>
		</columns>
	</row>
{% endblock %}
