{% extends "mailer/base.html.twig" %}

{% block body %}

	<spacer size="12"></spacer>

	<row>
		<columns small="2" large="3">
			<p>
				{{command.message|length > 0 ? command.message : 'Validation automatique : votre date peut encore être modifiée.'}}
			</p>
			{% if bool == 1 %}
				<p>
					Date de livraison :
					<strong>
						{{command.commandAt|date("d M Y H:i", timezone)}}
					</strong>
				</p>
			{% endif %}
		</columns>
	</row>

	<spacer size="6"></spacer>

	<row>
		<columns>
			<center>
				<button class="provider-show" href="{{bool == 1 ? url('provider_show', {id:user.provider.id, slug:user.provider.slug}) ~ '#contact' : 'mailto:' ~ user.email ~ '?subject=' ~ command.reference}}">{{bool == 1 ? "Contacter" : "Répondre"}}</button>
			</center>
		</columns>
	</row>

{% endblock %}

{% block message_auto %}
	<p></p>
{% endblock %}
