{% if is_granted('MEAL_VIEW', meal) %}
	<div class="card">
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item h5 text-info">Information</li>
				<li class="list-group-item tcommand">T. Commande :
					<span class="tcommand-count">{{meal.totalcommand|number_format}}<span></li>
						<li class="list-group-item">Depuis :
							{{meal.createdAt|date('d/m/y')}}
						</li>
					</ul>
				</li>
			</div>
		</div>
	</div>
{% endif %}
